@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--color-bg);
  color: var(--color-on-bg);
  font-family: "dm sans", sans-serif;
}

/* Resetting default button styles */
button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  color: var(--color-on-bg);
}

@media (hover: hover) {
  a:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

ul,
ol {
  list-style-position: inside;
}

ul {
  list-style-type: disc;
}

p,
li {
  line-height: 1.6;
  font-weight: 400;
}

img {
  width: 100%;
  height: auto;
}

/* Utility class for page margin. Use on the parent in all pages  */
.page-container {
  overflow-x: hidden;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 var(--container);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.fullbleed {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

.h1 {
  font-size: clamp(2.625em, 5.2vw, 5em);
  font-weight: 400;
  line-height: 1.1;
}

.h2 {
  font-size: clamp(1.618em, 5.2vw, 2.0625em);
  font-weight: 500;
  padding-bottom: 1rem;
}

.h3 {
  font-size: clamp(1.3em, 5.2vw, 1.625em);
  font-weight: 500;
  padding-bottom: 1rem;
}

.h4 {
  font-size: clamp(1em, 1.56vw, 1.25em);
  font-weight: 600;
  padding-bottom: 0.8rem;
}

main {
  height: 100%;
  flex: 1;
  margin-top: var(--header-height);
}

main > * {
  margin-bottom: 5em;
}

@media (min-width: 1024px) {
  main > * {
    margin-bottom: 7em;
  }
}
